* {
  box-sizing: border-box;
}
.container{
  padding-bottom: 100px;
}
body {
  background-image: url(images/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.visible {
  display: block;
}
.global-header{
  text-align: center;
  color: white;
  text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px,
  rgba(0, 0, 0, 0.6) -1px -1px 1px;
  font-size: 40px;
  margin: 0;
  padding: 20px 0;
}