html {
    background-color: black;
}

.index-body {
    background-image: url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
}

.wrapper {
    height: 100%;
}


.index-btn {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-66px, 10px);
    color: white;
    border: 2px solid white;
    padding: 12px 45px;
    cursor: pointer;
}

.index-title {
    margin: 0px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-133px,-40px);
    font-size: 40px;
    white-space: nowrap;
}

@media (min-width:768px) {
    .index-title {
        font-size: 60px;
        transform: translate(-203.5px, -70.5px)
    }

    .index-btn {
        display: block;
        cursor: pointer;
    }
}
