.album
  .subscr-container
    .buy-left купить альбом за $9.99
    .subscr-right
      span.subscr-text поделиться альбомом
      .social-share
       .vk
         i.fab.fa-vk
       .face
         i.fab.fa-facebook-f
       .twitter
         i.fab.fa-twitter
  .img-container
   img(src="img/img10.jpg")#img-block2.img
  #song-name2.song-name RAIN (Uriah Heep)
  .album-name Slava Sinchuk / Cover Man (Специальное издание)
  .music-controller
    .button
     i#btn-play2.fas.fa-play.btn-play.buttons
    #btn-prev2.btn-prev
     i.fas.fa-step-backward
    #btn-next2.btn-next
     i.fas.fa-step-forward
    #progress-line2.progress-line
     #progress2.progress
    .time
      span#minutes2.minutes 00
      | :
      span#seconds2.seconds 00
      |  /
    #duration2.duration 03:46
  .songs
    ul#song-ul2.song-ul
      li.song-list.song-list2(data-song-name='RAIN (Uriah Heep)', data-song='music/Coverman/song0.mp3', data-song-length='03:46')
        span.num 1
        span.track-name RAIN (Uriah Heep)
        span.track-length 03:46
      li.song-list.song-list2(data-song-name='FREE ME (Uriah Heep)', data-song='music/Coverman/song1.mp3', data-song-length='03:53')
        span.num 2
        span.track-name FREE ME (Uriah Heep)
        span.track-length 03:53
      li.song-list.song-list2(data-song-name="EASY LIVIN' (Uriah Heep)", data-song='music/Coverman/song2.mp3', data-song-length='02:34')
        span.num 3
        span.track-name EASY LIVIN' (Uriah Heep)
        span.track-length 02:34
      li.song-list.song-list2(data-song-name='HARD HABIT TO BREAK (Chicago)', data-song='music/Coverman/song3.mp3', data-song-length='04:40')
        span.num 4
        span.track-name HARD HABIT TO BREAK (Chicago)
        span.track-length 04:40
      li.song-list.song-list2(data-song-name='COME BACK TO ME (Uriah Heep)', data-song='music/Coverman/song4.mp3', data-song-length='04:22')
        span.num 5
        span.track-name COME BACK TO ME (Uriah Heep)
        span.track-length 04:22
      li.song-list.song-list2(data-song-name="BLACK SPIDER WOMAN (Livin'Blues)", data-song='music/Coverman/song5.mp3', data-song-length='03:44')
        span.num 6
        span.track-name BLACK SPIDER WOMAN (Livin'Blues)
        span.track-length 03:44
      li.song-list.song-list2(data-song-name='BLINDMAN (Whitesnake)', data-song='music/Coverman/song6.mp3', data-song-length='05:15')
        span.num 7
        span.track-name BLINDMAN (Whitesnake)
        span.track-length 05:15
      li.song-list.song-list2(data-song-name='I WANNA KNOW WHAT LOVE IS (Foreigner)', data-song='music/Coverman/song7.mp3', data-song-length='04:55')
        span.num 8
        span.track-name I WANNA KNOW WHAT LOVE IS (Foreigner)
        span.track-length 04:55
      li.song-list.song-list2(data-song-name='LADY IN BLACK (Uriah heep)', data-song='music/Coverman/song8.mp3', data-song-length='04:41')
        span.num 9
        span.track-name LADY IN BLACK (Uriah heep)
        span.track-length 04:41
      li.song-list.song-list2(data-song-name="HARD TO SAY I'M SORRY (Chicago)", data-song='music/Coverman/song9.mp3', data-song-length='03:54')
        span.num 10
        span.track-name HARD TO SAY I'M SORRY (Chicago)
        span.track-length 03:54