.album.album-3
  .subscr-container
    .buy-left
    span.subscr-right
            .social-share
                span.subscr-text поделиться альбомом
                .icon-container
                    .vk.icon-soc
                        i.fab.fa-vk
                    face.icon-soc
                        i.fab.fa-facebook-f
                    .twitter.icon-soc
                        i.fab.fa-twitter
  .img-container2
   img(src="img/img11.jpg")#img-block3.img
  #song-name3.song-name Каріна Плай і Слава Сінчук - Tell me why
  .album-name Sinchuk & ARNIKA / Slava Sinchuk
  .music-controller
   .button
    i#btn-play3.fas.fa-play.btn-play.buttons
   #btn-prev3.btn-prev
    i.fas.fa-step-backward
   #btn-next3.btn-next
    i.fas.fa-step-forward
   #progress-line3.progress-line
     #progress3.progress
   .time
    span#minutes3.minutes 00
    | :
    span#seconds3.seconds 00
    |  /
    .duration
    span#duration3.duration-minutes 04:25
  .songs-scroll
    ul#song-ul3.song-ul
      li.song-list.song-list3(data-img='img/img14.jpg', data-song='music/Slava Sinchuk/song0.mp3', data-song-length='04:25', data-song-name='Каріна Плай і Слава Сінчук - Tell me why', title='Каріна Плай і Слава Сінчук - Tell me why')
        span.num 1
        | Каріна Плай і Слава Сінчук - Tell me why
      li.song-list.song-list3(data-img='img/img15.png', data-song='music/Slava Sinchuk/song1.mp3', data-song-length='03:59', data-song-name='Viktor-Pavlik-i-Vyacheslav-Sinchuk - Smutok', title='Viktor-Pavlik-i-Vyacheslav-Sinchuk - Smutok')
        span.num 2
        | Viktor-Pavlik-i-Vyacheslav-Sinchuk - Smutok
      li.song-list.song-list3(data-img='img/img16.jpg', data-song='music/Slava Sinchuk/song2.mp3', data-song-length='03:16', data-song-name='Под Рождество', title='Под Рождество')
        span.num 3
        | Под Рождество
      li.song-list.song-list3(data-img='img/img17.jpg', data-song='music/Slava Sinchuk/song3.mp3', data-song-length='04:17', data-song-name='STRONGHOLD', title='STRONGHOLD')
        span.num 4
        | STRONGHOLD
      li.song-list.song-list3(data-img='img/img18.jpg', data-song='music/Slava Sinchuk/song4.mp3', data-song-length='05:27', data-song-name='A Gift From Above', title='A Gift From Above')
        span.num 5
        | A Gift From Above
      li.song-list.song-list3(data-img='img/img19.jpg', data-song='music/Slava Sinchuk/song5.mp3', data-song-length='04:15', data-song-name='SMOCK on The Water', title='SMOCK on The Water')
        span.num 6
        | SMOCK on The Water
