.album
  .subscr-container
    .buy-left
    .subscr-right
      span.subscr-text поделиться альбомом
      .social-share
       .vk
         i.fab.fa-vk
       .face
         i.fab.fa-facebook-f
       .twitter
         i.fab.fa-twitter
  .img-container2
   img(src="img/img13.jpg")#img-block5.img
  #song-name5.song-name Slava Sinchuk - Теll me why
  .album-name Slava Sinchuk & Karina Plai
  .music-controller
   .button
    i#btn-play5.fas.fa-play.btn-play.buttons
   #btn-prev5.btn-prev
    i.fas.fa-step-backward
   #btn-next5.btn-next
    i.fas.fa-step-forward
   #progress-line5.progress-line
     #progress5.progress
   .time
    span#minutes5.minutes 00
    | :
    span#seconds5.seconds 00
    |  /
    #duration5.duration  05:38
  .songs
    ul#song-ul5.song-ul
      li.song-list.song-list5(data-song='music/Tell me why/song0.mp3', data-song-name='Slava Sinchuk - Теll me why', data-song-length='05:38', data-img='img/img13.jpg')
        span.num 1
        | Slava Sinchuk - Теll me why
      li.song-list.song-list5(data-song='music/Tell me why/song1.mp3', data-song-name='Slava Sinchuk and Karina Plai - Tell me why', data-song-length='04:25', data-img='img/img20.jpg')
        span.num 2
        | SlavaSinchuk and Karina Plai - Tell me why
