.album
  .subscr-container
    .buy-left
    .subscr-right
      span.subscr-text поделиться альбомом
      .social-share
       .vk
         i.fab.fa-vk
       .face
         i.fab.fa-facebook-f
       .twitter
         i.fab.fa-twitter
  .img-container2
   img(src="img/img12.jpg")#img-block4.img
  #song-name4.song-name Все прошло
  .album-name Slava Sinchuk & Galaxy / Galaxy
  .music-controller
    .button
     i#btn-play4.fas.fa-play.btn-play.buttons
    #btn-prev4.btn-prev
     i.fas.fa-step-backward
    #btn-next4.btn-next
     i.fas.fa-step-forward
    #progress-line4.progress-line
     #progress4.progress
    .time
      span#minutes4.minutes 00
      | :
      span#seconds4.seconds 00
      |  /
      #duration4.duration 05:06
  ul#song-ul4.song-ul
      li.song-list4.song-list(data-song='music/A history/song0.mp3', data-song-name='Все прошло', data-song-length='05:06', title='Все прошло')
        span.num 1
        span.track-name Все прошло
        span.track-length 05:06
      li.song-list4.song-list(data-song='music/A history/song1.mp3', data-song-name='Август', data-song-length='04:34', title='Август')
        span.num 2
        span.track-name Август
        span.track-length 04:34
      li.song-list4.song-list(data-song='music/A history/song2.mp3', data-song-name='Я остаюсь', data-song-length='05:19', title='Я остаюсь')
        span.num 3
        span.track-name Я остаюсь
        span.track-length 05:19
      li.song-list4.song-list(data-song='music/A history/song3.mp3', data-song-name='Будь всегда со мной', data-song-length='04:40', title='Будь всегда со мной')
        span.num 4
        span.track-name Будь всегда со мной
        span.track-length 04:40
      li.song-list4.song-list(data-song='music/A history/song4.mp3', data-song-name='Я буду помнить этот зал', data-song-length='03:54', title='Я буду помнить этот зал')
        span.num 5
        span.track-name Я буду помнить этот зал
        span.track-length 03:54
      li.song-list4.song-list(data-song='music/A history/song5.mp3', data-song-name='Все как в сказке', data-song-length='07:15', title='Все как в сказке')
        span.num 6
        span.track-name Все как в сказке
        span.track-length 07:15
      li.song-list4.song-list(data-song='music/A history/song6.mp3', data-song-name='От Винницы до Ницы', data-song-length='06:42', title='От Винницы до Ницы')
        span.num 7
        span.track-name От Винницы до Ницы
        span.track-length 06:42
      li.song-list4.song-list(data-song='music/A history/song7.mp3', data-song-name='Консуэло', data-song-length='03:48', title='Консуэло')
        span.num 8
        span.track-name Консуэло
        span.track-length 03:48
      li.song-list4.song-list(data-song='music/A history/song8.mp3', data-song-name='Sweet Rosanna', data-song-length='06:00', title='Sweet Rosanna')
        span.num 9
        span.track-name Sweet Rosanna
        span.track-length 06:00
      li.song-list4.song-list(data-song='music/A history/song9.mp3', data-song-name='lady music', data-song-length='04:18', title='lady music')
        span.num 10
        span.track-name lady music
        span.track-length 04:18
      li.song-list4.song-list(data-song='music/A history/song10.mp3', data-song-name='galaktika you run around myzuka.me', data-song-length='04:23', title='galaktika you run around myzuka.me')
        span.num 11
        span.track-name galaktika you run around myzuka.me
        span.track-length 04:23
      li.song-list4.song-list(data-song='music/A history/song11.mp3', data-song-name='galaktika love me myzuka.me', data-song-length='03:59', title='galaktika love me myzuka.me')
        span.num 12
        span.track-name galaktika love me myzuka.me
        span.track-length 03:59
      li.song-list4.song-list(data-song='music/A history/song13.mp3', data-song-name='galaktika love me myzuka.me', data-song-length='04:25', title='galaktika love me myzuka.me')
        span.num 13
        span.track-name galaktika love me myzuka.me
        span.track-length 04:25
      li.song-list4.song-list(data-song='music/A history/song14.mp3', data-song-name='listen to my heart (and to your heart)', data-song-length='04:23', title='listen to my heart (and to your heart)')
        span.num 14
        span.track-name listen to my heart (and to your heart)
        span.track-length 04:23
