.album
  .subscr-container
    span.buy-left купить альбом за $9.99
    span.subscr-right
      .social-share
       span.subscr-text поделиться альбомом
       .icon-container
        .vk.icon-soc
          i.fab.fa-vk
        face.icon-soc
          i.fab.fa-facebook-f
        .twitter.icon-soc
          i.fab.fa-twitter
  .img-container
   img#img-block1.img(src="images/heart-of-stone.jpg")
  #song-name1.song-name SHE'S A LIAR
  .album-name Slava Sinchuk / HEART OF STONE
  .music-controller
   .button
    i#btn-play1.fas.fa-play.btn-play.buttons
   #btn-prev1.btn-prev
    i.fas.fa-step-backward
   #btn-next1.btn-next
    i.fas.fa-step-forward
   #progress-line1.progress-line
    #progress1.progress
   .time
     span#minutes1.minutes 00
     | :
     span#seconds1.seconds 00
     |  /
   .duration
     span#duration1 4:10
  .songs
    ul#song-ul1.song-ul
      li.song-list1.song-list(data-img='img/img0.jpg', data-song='music/heart/song0.mp3', data-song-name="SHE'S A LIAR", data-song-length='04:10', title="SHE'S A LIAR")
        span.num 1
        span.track-name SHE'S A LIAR
        span.track-length 04:10
      li.song-list1.song-list(data-img='img/img1.jpg', data-song='music/heart/song1.mp3', data-song-name="WE'LL BE ALLRIGHT", data-song-length='05:02', title="WE'LL BE ALLRIGHT")
        span.num 2
        span.track-name WE'LL BE ALLRIGHT
        span.track-length 05:02
      li.song-list1.song-list(data-img='img/img2.jpg', data-song='music/heart/song2.mp3', data-song-name='LOST IN HEAVEN', data-song-length='04:41', title='LOST IN HEAVEN')
        span.num 3
        span.track-name LOST IN HEAVEN
        span.track-length 04:41
      li.song-list1.song-list(data-img='img/img3.jpg', data-song='music/heart/song3.mp3', data-song-name='HEART OF STONE', data-song-length='06:29', title='HEART OF STONE')
        span.num 4
        span.track-name HEART OF STONE
        span.track-length 06:29
      li.song-list1.song-list(data-img='img/img4.jpg', data-song='music/heart/song4.mp3', data-song-name="MOTHER'S EYES", data-song-length='08:08', title="OTHER'S EYES")
        span.num 5
        span.track-name MOTHER'S EYES
        span.track-length 08:08
      li.song-list1.song-list(data-img='img/img5.jpg', data-song='music/heart/song5.mp3', data-song-name='JUST GET AWAY', data-song-length='04:32', title='JUST GET AWAY')
        span.num 6
        span.track-name JUST GET AWAY
        span.track-length 04:32
      li.song-list1.song-list(data-img='img/img6.jpg', data-song='music/heart/song1.mp3', data-song-name="I'M FALLING", data-song-length='05:02', title="I'M FALLING")
        span.num 7
        span.track-name I'M FALLING
        span.track-length 05:02
      li.song-list1.song-list(data-img='img/img7.jpg', data-song='music/heart/song7.mp3', data-song-name='NOW AND FOREVER', data-song-length='04:18', title='NOW AND FOREVER')
        span.num 8
        span.track-name NOW AND FOREVER
        span.track-length 04:18
      li.song-list1.song-list(data-img='img/img8.jpg', data-song='music/heart/song8.mp3', data-song-name='TRIUMPHS OF A EVIL', data-song-length='08:14', title='TRIUMPHS OF A EVIL')
        span.num 9
        span.track-name TRIUMPHS OF A EVIL
        span.track-length 08:14
      li.song-list1.song-list(data-img='img/img9.jpg', data-song='music/heart/song9.mp3', data-song-name='HEY, YOU', data-song-length='06:07', title='HEY, YOU')
        span.num 10
        span.track-name HEY, YOU
        span.track-length 06:07
