.menu-block
 .menu-wrapper
  .site-advertisment SLAVA SINCHUK
   p.site-name www.sinchuk.net
   p.site-adress
  .mus-btn.mus-btn__play
   audio(src="music/SlavaSinchuk/song5.mp3" id="bgAudio")
  nav.nav
   a(href="index.html").menu-item Home
   a(href="music.html").menu-item Music
   a(href="video.html").menu-item Video
   a(href="concerts.html").menu-item Concerts
   a(href="bio.html").menu-item Bio
   a(href="contacts.html").menu-item Contacts
  .social
   a.social-link
    i.fab.fa-youtube
   a.social-link
    i.fab.fa-facebook-f
   a.social-link
    i.fab.fa-instagram
 .line-break
 .nav-footer © 2017 GALAXY
i.fas.fa-bars(id="bar-toggle")
script(src="scripts/nav/nav.js")
