doctype html
html(lang='eng')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
    link(rel="stylesheet" href="main.min.css")
    link(rel="stylesheet" href="grid.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  body.concerts-body
   #preloader
    .cssload-loader
     .cssload-inner.cssload-one
     .cssload-inner.cssload-two
     .cssload-inner.cssload-three
   #wrapper.wrapper

    include templates/nav
    .container
     .concerts-header
      .concerts-header-text.concerts-events Events
      .concerts-header-text-afisha AFISHA
      .concerts-header-text.concerts-concerts Concerts
     .row.content-block
      .col-sm-12.col-md-10.m-auto
       .content-header Предстоящие концерты / местные даты
       .content-event
        .event-date 12
         span.month марта
        .event-name Galaxy PARTY 
        .event-location Lviv, Ukraine
        .event-btn Пойду
       .content-event
        .event-date 12
         span.month марта
        .event-name Galaxy PARTY
        .event-location Lviv, Ukraine
        .event-btn Пойду
       .content-event
        .event-date 12
         span.month марта
        .event-name Galaxy PARTY
        .event-location Lviv, Ukraine
        .event-btn Пойду
       .content-event
        .event-date 12
         span.month марта
        .event-name Galaxy PARTY
        .event-location Lviv, Ukraine
        .event-btn Пойду

   script(src="scripts/libs/bgPlug.js")
   script(src="scripts/common/bgVidOptions.js")
   script(src="scripts/common/preloader.js")
   script(src="scripts/libs/anime.min.js")
   script(src="scripts/pages/concerts/concertsAnimeAnimations.js")
