doctype html
html(lang='eng')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
    link(rel="stylesheet" href="main.min.css")
    link(rel="stylesheet" href="grid.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    title Sinchuk
  body.index-body
   #wrapper.wrapper
    #preloader
     .cssload-loader
        .cssload-inner.cssload-one
        .cssload-inner.cssload-two
        .cssload-inner.cssload-three
    include templates/nav
    a(href="music.html").index-btn Music
    h1.index-title Slava
       br
       span Sinchuk

   script(src="scripts/libs/bgPlug.js")
   script(src="scripts/common/bgVidOptions.js")
   script(src="scripts/common/preloader.js")
    
   
   