doctype html
html(lang='eng')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
    link(rel="stylesheet" href="main.min.css")
    link(rel="stylesheet" href="grid.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")

    title Music
  body.music-body
   #preloader
          .cssload-loader
              .cssload-inner.cssload-one
              .cssload-inner.cssload-two
              .cssload-inner.cssload-three
   .container
    .row.music-header.justify-content-center
      p.header-text.header-albums.col-md-3.d-none.d-md-block Albums
      p.header-text.header-music.col-md-3.col-sm-12 MUSIC
      p.header-text.header-songs.col-md-3.d-none.d-md-block Songs
    .row.justify-content-center
     .col-12.col-md-7.col-lg-7
      include templates/music-album
      include templates/music-album2
     .col-12.col-md-5.col-lg-4
      include templates/music-album3
      include templates/music-album4
      include templates/music-album5
   include templates/nav
   script(src="scripts/pages/audio/audioPageScripts.js")
   script(src="scripts/libs/anime.min.js")
   script(src="scripts/pages/audio/audioAnimeAnimations.js")
   script(src="scripts/common/preloader.js")