doctype html
html(lang='eng')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
    link(rel="stylesheet" href="grid.min.css")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css")
    link(rel="stylesheet" href="main.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    title Video
  body.video-body
   #preloader
          .cssload-loader
              .cssload-inner.cssload-one
              .cssload-inner.cssload-two
              .cssload-inner.cssload-three
   .container
    h1.global-header VIDEO
    .row
     .col-sm-12.col-md-10.m-auto
      .video-block.video-block1
       .video-title FAN -video chanel
       .thumb-wrap
        iframe.iframe(width="560" height="315" src="https://www.youtube.com/embed/lLKSor1TYg0" frameborder="0" allowfullscreen)
       .search-block
        input(type="text" placeholder="Найти видео").search 
       .list-block
        .list-item
         img.slick-img(src="video-img/img1.jpg" alt="")
         .z-hover(data-youtube="https://www.youtube.com/embed/lLKSor1TYg0")
          .round
          .video-song-name Hearth of Stone - Slava Sinchuk
          .video-length 04:10
        .list-item
         img.slick-img(src="video-img/img2.jpg" alt="")
         .z-hover(data-youtube="https://www.youtube.com/embed/PSND2zuECok")
          .round
          .video-song-name SLAVA SINCHUK - LIVE /// S.B
          .video-length 04:19
        .list-item
         img.slick-img(src="video-img/img3.jpg" alt="")
         .z-hover(data-youtube="https://www.youtube.com/embed/HOdJLRghQEY")
          .round
          .video-song-name Slava Sinchuk & Sinchuk-band
          .video-length 00:55
        .list-item
         img.slick-img(src="video-img/img4.jpg" alt="")
         .z-hover(data-youtube="https://www.youtube.com/embed/r7_gzEf4srA")
          .round
          .video-song-name SLAVA SINCHUK & SINCHIK BAND - LIVE/// Come together
          .video-length 00:50
    .row
     .col-sm-12.col-md-10.m-auto
        .video-block.video-block1
            .video-title Galaxy History - old video chanel
            .thumb-wrap
                iframe.iframe2(width="560" height="315" src="https://www.youtube.com/embed/OxQZ0CQP4U8" frameborder="0" allowfullscreen)
            .search-block
                input(type="text" placeholder="Найти видео").search
            .list-block
                .list-item2
                    img.slick-img2(src="video-img/img1.jpg" alt="")
                    .z-hover2(data-youtube="https://www.youtube.com/embed/lLKSor1TYg0")
                        .round
                        .video-song-name Hearth of Stone - Slava Sinchuk
                        .video-length 04:10
                .list-item2
                    img.slick-img2(src="video-img/img2.jpg" alt="")
                    .z-hover2(data-youtube="https://www.youtube.com/embed/PSND2zuECok")
                        .round
                        .video-song-name SLAVA SINCHUK - LIVE /// S.B
                        .video-length 04:19
                .list-item2
                    img.slick-img2(src="video-img/img3.jpg" alt="")
                    .z-hover2(data-youtube="https://www.youtube.com/embed/HOdJLRghQEY")
                        .round
                        .video-song-name Slava Sinchuk & Sinchuk-band
                        .video-length 00:55
                .list-item2
                    img.slick-img2(src="video-img/img4.jpg" alt="")
                    .z-hover2(data-youtube="https://www.youtube.com/embed/r7_gzEf4srA")
                        .round
                        .video-song-name SLAVA SINCHUK & SINCHIK BAND - LIVE/// Come together
                        .video-length 00:50
   include templates/nav
   script(type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js")
   script(src="scripts/pages/video/video.js")
   script(src="scripts/libs/bgPlug.js")
   script(src="scripts/common/bgVidOptions.js")
   script(src="scripts/common/preloader.js")
   script(src="scripts/libs/anime.min.js")
   script(src="scripts/pages/video/videoAnimeAnimations.js")
   script(src="scripts/common/globalAnimeAnimations.js")
